main {
	min-height: 80vh;
}
h1 {
	font-size: 1.8rem;
	padding: 1rem 0rem;
}
h2 {
	padding: 0.5ren 0rem;
	font-size: 1.4rem;
}
h3 {
	padding: 1rem;
}
.rating span {
	margin: 0.1rem;
}
a:link {
	text-decoration: none;
}
